{% extends 'home.html' %}

{% block content %}
<h2>
    Brand Page
</h2>



<table class=" table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand name</th>
      <th scope="col">Discription</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for brand in brands %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ brand.name }}</td>
      <td>{{ brand.descriptions }}</td>
      <td>
        <a class=" btn btn-primary">Edit</a>
        <a class="btn btn-danger">Delete</a>


      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}