{% extends 'home.html'%}

{% block content%}
<h2>
    Category Page
</h2>



<table class=" table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category name</th>
      <th scope="col">Discription</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ category.name }}</td>
      <td>{{ category.descriptions }}</td>
      <td>
        <a class=" btn btn-primary">Edit</a>
        <a class="btn btn-danger">Delete</a>


      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}